* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*---------heading/nav-------*/

.main-heading {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid transparent;
    -webkit-transition: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
    -webkit-box-shadow: 1px 1px transparent;
    box-shadow: 1px 1px transparent;
    background: rgba(16, 9, 11, 0.8);
    font-size: 0.9em;
}

.main-heading h1,
nav {
    font-family: 'Exo 2', sans-serif;
    align-self: center;
}

.main-heading h1 {
    margin: 20px 0 5px 10px;
    color: #ff4e00;
}

nav {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    color: #01cd74;
    font-size: 1.3em;
}

nav a:hover {
    color: #ff4e00;
}


/*-----------------------------General---------------------------------------*/

html,
body,
.app {
    display: flex;
    flex-direction: column;
    background-image: url(img/397989.jpg);
    /*background-size: 90% 100%;*/
    /*background-repeat: no-repeat;*/
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Bitter', serif;
    color: white;
}

.home,
.projects,
.about,
.contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-bottom: 150%;
    padding-top: 0;
    color: ivory;
}

.home-section,
.projects-section,
.about-section,
.contact-section {
    display: flex;
    font-size: 24px;
    margin: 0 auto;
    /*border: solid 2px transparent;*/
    padding: 25px;
}

.home p,
.projects p,
.about p,
.contact p {
    align-self: center;
    font-family: 'Share Tech Mono', monospace;
}


/*-----------------Home---------------*/


/*-----------------About---------------*/


/*-----------------contact---------------*/


/*---------footer-------*/

footer {
    color: palegoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: inherit;
}

@media(min-width: 1600px) {
    .home-section,
    .projects-section,
    .about-section,
    .contact-section {
        max-width: 50%;
    }
    nav {
        margin-left: 62%;
        padding-left: 1em;
        justify-content: flex-start;
        flex-direction: row;
    }
    nav a {
        margin-left: 1em;
    }
}


/*-----------------projects---------------*/


/*.flip-enter-active {
    transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53); //ease-in-quad
}

.flip-leave-active {
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94); //ease-out-quad
}

.flip-enter,
.flip-leave-to {
    transform: scaleY(0) translateZ(0);
    opacity: 0;
}*/