* {
    background-color: #2F2727;
  background-image: url(img/397989.jpg);
  /*background-position: center center;*/
  background-repeat: no-repeat;
}

.main-heading {
    display: flex;
    flex-direction: column;
    color: gold;
    padding-bottom: 45px;
    background: #311022;
    /*margin: auto;*/
}

.main-heading h1,nav {
    align-self: center;
    background: #311022;
}



body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: grey;
}









.home {
display:flex;
flex-direction: column;
margin: auto;
padding-bottom: 100%;
padding-top:0;
color: ivory;
background: linear-gradient(to bottom, rgba(30,30,154,1) 0%,rgba(126,137,232,0) 100%);
}

.home h2, .home p{
background: inherit;
align-self:center;
}

.home-section {
    display: flex;
    font-size: 24px;
    margin: 0 auto;
    background: inherit;
    max-width: 80%;
    border: solid 2px red;
    padding: 25px;



}

