* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/*---------heading/nav-------*/

.main-heading {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid transparent;
    -webkit-transition: box-shadow 200ms ease-in-out;
    transition: box-shadow 200ms ease-in-out;
    -webkit-box-shadow: 1px 1px transparent;
    box-shadow: 1px 1px transparent;
    background: rgba(16, 9, 11, 0.8);
    font-size: 0.9em;
    justify-content: space-between;
}

.main-heading>a {
    text-decoration: none;
}

.main-heading h1,
nav {
    font-family: 'Exo 2', sans-serif;
    align-self: center;
}

.main-heading h1 {
    margin: 20px 20px 5px 20px;
    color: #ff4e00;
}

.nav-route {
    padding: 0.1rem;
    margin-right: 1em;
    border: transparent;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 0.5em;
}

nav a {
    text-decoration: none;
    color: #01cd74;
    font-size: 1.3em;
}

/*-----------------------------General---------------------------------------*/

html,
.app {
    display: flex;
    flex-direction: column;
    margin: 0;
    background: url(img/397989.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.home {
    background-image: url(img/IAOS.jpg) no-repeat center center fixed;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: 'Bitter', serif;
    color: white;
}

.home,
.projects,
.about,
.contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 0;
    color: ivory;
}

.home-section,
.contact-section {
    display: flex;
    font-size: 24px;
    margin: 0 auto;
    padding: 25px;
}

.home p,
.projects p,
.about p,
.contact p {
    align-self: center;
    font-family: 'Share Tech Mono', monospace;
}


/*-----------------Home---------------*/


/*-----------------About---------------*/


/*-----------------contact---------------*/


/*---------footer-------*/

.main-footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid transparent;
    background: rgba(16, 9, 11, 0.8);
    font-size: 0.9em;
    align-content: space-between;
    justify-content: space-between;
    height: 50px;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin: auto;
}

.footer-icons i {
    margin-left: 0.5em;
}

.footer-icons a {
    color: inherit;
}

@media(min-width: 900px) {
    .home-section,
    .projects-section,
    .about-section,
    .contact-section {
        max-width: 50%;
    }

    .main-heading h1 {
        margin-left: 2em;
    }

    nav {
        display: flex;
        margin-left: 0.2em;
        padding-left: 0.2em;
        justify-content: flex-start;
        flex-direction: row;
    }

    nav a {
        padding: 0.8rem;
        border: solid 2px transparent;
        margin: 0.5em;
    }

    nav a:last-child {
        margin-right: 2em;
    }

    .pens {
        margin-top: 6rem;
    }

    .hvr-underline-from-center {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden;
    }
    .hvr-underline-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: #ff4e00;
        height: 4px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .hvr-underline-from-center:hover:before,
    .hvr-underline-from-center:focus:before,
    .hvr-underline-from-center:active:before {
        left: 0;
        right: 0;
    }
}


/*-----------------projects---------------*/


/*.flip-enter-active {
    transition: all .2s cubic-bezier(0.55, 0.085, 0.68, 0.53); //ease-in-quad
}

.flip-leave-active {
    transition: all .25s cubic-bezier(0.25, 0.46, 0.45, 0.94); //ease-out-quad
}

.flip-enter,
.flip-leave-to {
    transform: scaleY(0) translateZ(0);
    opacity: 0;
}*/